<div class="toolbar">
	<div class="logo">
		<img src="{{ asset('img/symfony.svg') }}">
	</div>
	<a href="{{ path('index') }}" target="_blank">Symfony CMS</a>
	<div class="logout">
		<a href="{{ path('admin_logout') }}">Logout</a>
	</div>
</div>

<div class="navigation">
	<ul class="nav-items">
		<li class="nav-item{% if navActive == 'dashboard' %} active{% endif %}"><a href="{{ path('admin_dashboard') }}">Dashboard</a></li>
	</ul>
	<ul class="nav-items">
		<li class="nav-item{% if navActive == 'pages' %} active{% endif %}"><a href="{{ path('admin_page_overview') }}">Pages</a></li>
		<li class="nav-item{% if navActive == 'blocks' %} active{% endif %}"><a href="{{ path('admin_block_overview') }}">Blocks</a></li>
		<li class="nav-item{% if navActive == 'media' %} active{% endif %}"><a href="{{ path('admin_media_overview') }}">Media</a></li>
		<li class="nav-item{% if navActive == 'menus' %} active{% endif %}"><a href="{{ path('admin_menu_overview') }}">Menus</a></li>
	</ul>
	<ul class="nav-items">
		<li class="nav-item{% if navActive == 'contacts' %} active{% endif %}"><a href="{{ path('admin_contact_overview') }}">Contacts</a></li>
	</ul>
	<ul class="nav-items">
		<li class="nav-item{% if navActive == 'administrators' %} active{% endif %}"><a href="{{ path('admin_administrator_overview') }}">Administrators</a></li>
	</ul>		
</div>
