{% extends 'website/general/base.html.twig' %}

{% block title %}{% if page.metaTitle %}{{ page.metaTitle }}{% else %}{{ page.title }}{% endif %}{% endblock %}

{% block metatags %}
    <meta name="keywords" content="{{ page.metaKeywords }}">
    <meta name="description" content="{{ page.metaDescription }}">
{% endblock %}

{% block body %}
    <div class="page {{ page.code }}">
        {% if page.image.name %}
            {% include 'website/general/_header-image.html.twig' with {imagePath: asset('media/' ~ page.image.name)} %}
        {% endif %}
        <h1>{{ page.title }}</h1>

        <div class="editor-content">
            {{ page.content|raw }}
        </div>

        {% if page.code == 'contact' %}
            {% include 'website/page/_contact.html.twig' %}
        {% elseif page.code == 'inschrijven' %}
            {% include 'website/page/_inschrijven.html.twig' %}
        {% endif %}
    </div>
{% endblock %}

{% if page.code == 'contact' %}
    {% block javascripts %}
        {{ parent() }}

        <script>
            function initMap() {
                var location = {lat: 52.443862, lng: 4.839823};
                var map = new google.maps.Map(
                    document.getElementById('map'), {zoom: 16, center: location});
                var marker = new google.maps.Marker({position: location, map: map});
            }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1d_Ekegxss-2DiCByJSriVKYn4C-UPyU&callback=initMap"></script>
    {% endblock %}
{% endif %}
