{% extends 'admin/general/base.html.twig' %}

{% block title %}Pages{% endblock %}

{% block body %}
	<div class="heading">
		<h1>Pages</h1>
		<a class="add-button" href="{{ path('admin_page_create') }}">Add new</a>		
	</div>

	<table class="overview">
		<thead>
			<tr>
				<th class="tick"><input id="overview-table-toggle-all" type="checkbox"></th>
				<th class="boolean">Active</th>
				<th>Name</th>
				<th>Slug</th>
				<th>Code</th>
			</tr>
		</thead>
		<tbody>
			{% for page in pages %}
				<tr>
					<td class="tick"><input class="toggle" type="checkbox"></td>
					<td class="boolean"><div class="circle {{ page.active ? 'green' : 'red' }}">&nbsp;</div></td>
					<td><a href="{{ path('admin_page_edit', {'id': page.id}) }}">{{ page.title }}</a></td>
					<td>{{ page.slug }}</td>
					<td>{{ page.code }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
{% endblock %}
